@model Dexter.Host.Areas.Dxt_Admin.Models.Post.PostDeleteViewData
@{
    Layout = "~/Areas/Dxt_Admin/Views/Shared/_layoutWithMenu.cshtml";
}

@helper GetRowColor(string text){
	string[] cssStyles = new[] { "", "orange-keyword", "purple-keyword", "green-keyword" };
	var css = cssStyles.GetRandom();

	<text>
		<li class="@css">@text</li>
	</text>
}

<div class="block-content">
	<div class="task with-legend">
		<div class="legend"><img src="~/Images/Icons/Fugue/status.png" width="16" height="16">Delete Post</div>
					
		<div class="task-description">
			<ul class="floating-tags float-left">
				<li class="tag-time">@Model.Post.PublishAt</li>
				<li class="tag-user">@Model.Post.Author</li>
			</ul>
						
			<p><strong>Title :</strong>@Model.Post.Title</p>
			<p><strong>Abstract :</strong>@Model.Post.Excerpt</p>
			<p><strong>Categories :</strong>
				@for (int i = 0; i < Model.Post.Categories.Length; i++) {
					@Model.Post.Categories[i]
				}
			</p>
			<p><strong>Published :</strong> @Model.Post.Status</p>
			<p><strong>Url: </strong><a href="@U.Post.Permalink(Model.Post)"> Click Here</a></p>
			<p><strong>Comments :</strong> @Model.Post.TotalComments</p>
			<p><strong>Trackback :</strong> @Model.Post.TotalTrackback</p>
			<p>
				<strong>Tags :</strong>
				<ul class="keywords">
						@foreach(var category in Model.Post.Categories) {
							@GetRowColor(category)
						}
				</ul>
			</p>
						
		</div>
					
		<ul class="task-dialog">
			<li>
				<form method="post" action="../../Delete">
					@Html.AntiForgeryToken()
					@Html.Hidden("id", Model.Post.Id )
					<button type="button" onclick="location.href='@U.Post.Permalink(Model.Post)'">View</button>
					<button type="button" onclick="location.href='@U.Post.Edit(Model.Post)'">Edit</button>
					<button type="submit">Confirm Delete</button>
				</form>
			</li>
		</ul>
	</div>
</div>