@model Dexter.Host.Areas.Dxt_Admin.Models.Post.ManageViewModel
@{
	Layout = "~/Areas/Dxt_Admin/Views/Shared/_layoutWithMenu.cshtml";
}

@section header
{
	<script src="~/js/ckeditor/ckeditor.js"></script>
	<script type="text/javascript">

		$(document).ready(function () {
			$("#Post_PublishDate").dateinput({
				trigger: true,
				format: 'dd mmmm yyyy',
			});

			$('#publishToday').click(function () {
				$('#Post_PublishDate').data("dateinput").today();
				var date = new Date();

				var minutes = date.getMinutes() < 10 ? "0" + date.getMinutes() : date.getMinutes();
				var hours = date.getHours() < 10 ? "0" + date.getHours() : date.getHours();

				$('#Post_PublishHour').val(hours);
				$('#Post_PublishMinutes').val(minutes);
			});

			
			CKEDITOR.editorConfig = function (config) {
				config.toolbar = 'Full';
			};

			CKEDITOR.replace('Post_FormattedBody');
		});
	</script>
}

<section class="grid_12">
	@if (!ViewData.ModelState.IsValid) {
		<ul class="message error no-margin">
			@Html.ValidationSummary()
		</ul>	
	}

	<div class="block-border">
		<form method="post" id="simple_form" class="block-content form">
		<h1>Create Post</h1>

		@Html.AntiForgeryToken()
		@Html.Hidden("post.Id", Model.Post.Id)

		<fieldset class="grey-bg required">
			<legend>Required Fields</legend>
			<p>
				<label for="simple-required">Title</label>
				@Html.TextBoxFor(x => x.Post.Title, new { @class = "full-width", placeholder = "Write here the title of the post" })
			</p>
			<p>
				<label for="simple-required">Tags</label>
				@Html.TextBoxFor(x => x.Post.Tags, new { @class = "full-width", placeholder = "Write here tags separeted by comma" })
			</p>
			
			<p>
				<label for="simple-required">Tags</label>
				@Html.DropDownListFor(x => x.Post.ItemStatus, new []
					                                              {
						                                              new SelectListItem(){Selected = true,Text = "Published",Value = "1"},
						                                              new SelectListItem(){Selected = true,Text = "Published",Value = "1"},
					                                              } )
			</p>

			<p>
				<fieldset class="grey-bg @(!ViewData.ModelState.IsValid && ViewData.ModelState["post.Categories"].Errors != null ? "" : "collapsed")">
				<legend><a href="#">Categories</a></legend>
				<p>
					<label for="simple-required">Categories</label>
					@Html.CategoriesStructure( Model.Categories, "post", Model.Post.Id > 0 ? Model.Post.Categories : null )
				</p>
				</fieldset>
			</p>

			<p>
				@Html.TextAreaFor(x => x.Post.FormattedBody, new { cols = "80", rows = "20"})
			</p>

		</fieldset>

				
		<fieldset class="grey-bg collapsed">
				<legend><a href="#">Optional</a></legend>
					<p>
						<label for="simple-required">Publish Date</label>
						<span class="input-type-text margin-right">
							@Html.EditorFor(x => x.Post.PublishDate)
							<img height="16" width="16" src="~/images/Icons/Fugue/calendar-month.png" alt="calendar" />
							@Html.DropDownListFor(x => x.Post.PublishHour, new SelectList(Model.Hours, Model.Post.PublishHour))
							@Html.DropDownListFor(x => x.Post.PublishMinutes, new SelectList(Model.Minutes, Model.Post.PublishMinutes))
						</span>
						<button class="grey" type="button" id="publishToday">Now</button>
						&nbsp;
						<label for="table-display" style="display:inline">Publish</label>
						@Html.CheckBoxFor( x => x.Post.Publish, new { @class = "mini-switch"} )
								
						<label for="table-display" style="display:inline">Break Post</label>
						@Html.CheckBoxFor( x => x.Post.BreakOnAggregate, new { @class = "mini-switch"} )
						&nbsp;
						<label for="table-display" style="display:inline">Enable Comments</label>
						@Html.CheckBoxFor( x => x.Post.CommentEnabled, new { @class = "mini-switch"} )
					</p>
							
					<p>
						<label for="simple-required">Slug</label>
						@Html.TextBoxFor(x => x.Post.Slug, new { @class = "full-width", placeholder = "Write the slug of the post" })
					</p>

					<p>
						<label for="simple-required">Abstract</label>
						@Html.TextBoxFor(x => x.Post.Abstract, new { @class = "full-width", placeholder = "Write the abstract of the post" })
					</p>
			</fieldset>


			<p class="input-with-button">
				<button type="submit">Save</button>
			</p>

		</form>
	</div>
</section>

