@using Dexter.Entities
@model Dexter.Host.Model.Widget.RecentPostViewModel

@{
	Layout = Model.Template;
}

@helper Comments(int numberOfComments){
	if (numberOfComments < 1)
	{
		<text>
			No Comments
		</text>
	}
	else if (numberOfComments > 1)
	{
		<text>
			@numberOfComments Comments
		</text>
	}
	else
	{
		<text>
			1 Comment
		</text>
	}
}

@foreach (PostDto post in Model.Posts.Result)
{
	<div class="tab-post">
		@if (post.FeaturedImage != null)
			{
				<a href="@U.Post.Permalink(post)" title="@post.Title">
					<img width="70" 
					     height="60" 
					     src="@post.FeaturedImage" 
					     class="attachment-tabs wp-post-image" 
					     alt="@post.Title" title="@post.Title">
				</a>
			}

			<h3>
				<a href="@U.Post.Permalink(post)" title="@post.Title">
					@post.Title
				</a>
			</h3>

		<p class="meta">
			@post.PublishAt.ToString("m") | @Comments(post.TotalComments)
		</p>

	</div>
}